<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="DBCS" connectionString="Database=shop;Data Source=localhost;User Id=root;Password=" />
    <add name="sales.Properties.Settings.shopConnectionString" connectionString="server=127.0.0.1;user id=root;database=shop;allowuservariables=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
<!--server=127.0.0.1;user id=root;database=shop-->
